root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 8
tab_size = 8

[*.vue]
tab_size = 4
indent_size = 4
[*.js]
tab_size = 4
indent_size = 4
[*.ts]
tab_size = 4
indent_size = 4
[*.tmpl]
tab_size = 4
indent_size = 4
[*.html]
tab_size = 4
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
[*.yaml]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
