{{ define "title" }}
Categories
{{ end }}

{{ define "content" }}
<section class="intro">
<p>
Categories are arbitrary classification tags that may be applied to
courses.
</p>
<p>
Some example categories may include
&ldquo;Sport&rdquo;,
&ldquo;Enrichment&rdquo;,
&ldquo;Culture&rdquo;,
etc.
</p>
<p>
On this page you may define a set of categories up-front;
in the courses tab, you may reference these categories.
</p>
</section>
<section class="listing">
<h2>Current categories</h2>
<div class="cards-grid">
{{ range . }}
<article class="card">
<header class="card-header">{{ . }}</header>
<details>
<summary>Actions</summary>
<form method="POST" action="/admin/categories/delete" class="stack-form">
<input type="hidden" name="id" value="{{ . }}" />
<div class="form-actions">
<button type="submit">Delete</button>
</div>
</form>
</details>
</article>
{{ end }}
</div>
</section>
<section class="new">
<h2>New category</h2>
<form method="POST" action="/admin/categories/new" class="stack-form">
<div class="form-field">
<label for="id">ID</label>
<input type="text" id="id" name="id" required />
</div>
<div class="form-actions">
<button type="submit">Add</button>
</div>
</form>
</section>
{{ end }}
