{{ define "title" }}
Grades
{{ end }}

{{ define "content" }}
<section class="intro">
<p>
Grades are groups of students. Each student may only be assigned one
grade.
</p>
<p>
Some example grades include
&ldquo;Year 9&rdquo;,
&ldquo;Year 12&rdquo;,
etc.
</p>
<p>
On this page you may define a set of grades up-front;
in the students tab, you may reference these grades.
</p>
<p>
Each grade has an &ldquo;enabled&rdquo;/&ldquo;disabled&ldquo;
status, which indicates whether students of that grade
may alter their choices.
</p>
<p>
The &ldquo;edit&rdquo; form of each grade also allows you to define the
minimum number of courses from arbitrary sets of categories that students
in that grade must satisfy.
</p>
</section>
{{ $categories := .Categories }}
<section class="listing">
<h2>Current grades</h2>
<ul>
{{ range .Grades }}
<li>
{{ .Grade }} ({{ if .Enabled }}enabled{{ else }}disabled{{ end }})
<section>
<h3 style="margin: 0rem; font-size: 100%;">Current requirement groups</h3> <!-- TODO: Temporary inline styling! -->
<ul>
{{ range .ReqGroups }}
<li>
At least {{ .MinCount }} from any {{ .CategoryIds }}
<form style="display: inline-block;" method="POST" action="/admin/grades/delete-requirement-group">
<input type="hidden" name="id" value="{{ .ID }}" />
<input value="Delete" type="submit" />
</form>
</li>
{{ end }}
</ul>
</section>
<section>
<h3 style="margin: 0rem; font-size: 100%;">New requirement groups</h3> <!-- TODO: Temporary inline styling! -->
<form method="POST" action="/admin/grades/new-requirement-group">
<input type="hidden" name="grade" value="{{ .Grade }}" />
<label for="mincount-new-{{ .Grade }}">Minimum count:</label>
<input id="mincount-new-{{ .Grade }}" type="number" min="0" max="65535" step="1" name="min_count" />
<br />
{{ $grade := .Grade }}
{{ range $categories }}
<input type="checkbox" id="category-{{ . }}-{{ $grade }}" value="{{ . }}" name="category-{{ . }}" />
<label for="category-{{ . }}-{{ $grade }}">{{ . }}</label>
{{ end }}
<br />
<input value="Add" type="submit" />
</form>
</section>
<section>
<h3 style="margin: 0rem; font-size: 100%;">Edit</h3> <!-- TODO: Temporary inline styling! -->
<form method="POST" action="/admin/grades/edit">
<input type="hidden" name="grade" value="{{ .Grade }}" />
<label for="enabled-{{ .Grade }}">Enabled:</label>
<input type="checkbox" id="enabled-{{ .Grade }}" name="enabled" {{ if .Enabled }}checked{{ end }} />
<br />
<input value="Submit" type="submit" />
</form>
</section>
<details>
<summary>Delete</summary>
<form method="POST" action="/admin/grades/delete">
<input type="hidden" name="grade" value="{{ .Grade }}" />
<input value="Confirm delete" type="submit" />
</form>
</details>
</li>
{{ end }}
</ul>
</section>
<section class="new">
<h2>New grade</h2>
<form method="POST" action="/admin/grades/new">
<label for="new-grade-grade">Grade:</label>
<input type="text" id="new-grade-grade" name="grade" required />
<input value="Add" type="submit" />
</form>
</section>
<section>
<h2>Bulk-update enabled status</h2>
<form method="POST" action="/admin/grades/bulk-enabled-update">
<ul>
{{ range .Grades }}
<li>
<label for="bulk-enabled-{{ .Grade }}">Grade {{ .Grade }} ({{ if .Enabled }}enabled{{ else }}disabled{{ end }}):</label>
<input type="checkbox" id="bulk-enabled-{{ .Grade }}" value="{{ .Grade }}" name="{{ .Grade }}" {{ if .Enabled }}checked{{ end }} />
</li>
{{ end }}
</ul>
<input value="Bulk update" type="submit" />
</form>
</section>
{{ end }}
