{{ define "title" }}
Dashboard
{{ end }}

{{ define "content" }}
<ul>
<li><a href="admin/categories">Categories</a></li>
<li><a href="admin/periods">Periods</a></li>
<li><a href="admin/grades">Grades</a></li>
<li><a href="admin/courses">Courses</a></li>
<li><a href="admin/students">Students</a></li>
<li><a href="admin/selections">Selections</a></li>
</ul>
{{ end }}
